<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardian Quick Crossword clue stats</title>
</head>
<body>
    <h1>Guardian Quick Crossword clue stats</h1>

    <p>Have you ever thought you've seen that word in a crossword before? Now you can find out!</p>

    <form action="/find-word" method="post">
      <label for="solution-input">Find a word</label>
      <input type="text" id="solution-input" name="solution"> 
      <button type="submit">Look up word</button>
    </form>

    <p>Latest crossword: <a href="{{ url_for('crossword', crossword_id=latest_crossword.id | replace("/", "%2F"))}}">{{ latest_crossword.web_title }}</a> — {{ latest_crossword.date_published }}</p>

    <p>Solutions in latest crossword:</p>
    <ul>
        {% for clue in clues %}
          <li><a href="{{ url_for('view', solution=clue.solution) }}">{{ clue.solution }}</a></li>
        {% endfor %}
    </ul>

    <p>Most common solutions:</p>
    <ul>
      {% for clue, count in most_common_clues %}
        <li><a href="{{ url_for('view', solution=clue.solution) }}">{{ clue.solution }} ({{count}})</a></li>
      {% endfor %}
    </ul>

    <p>Crossword stats:</p>

    <dl>
      <dt>Number of crosswords:</dt>
      <dd>{{ total_crosswords }}</dd>

      <dt>Number of clues:</dt>
      <dd>{{ total_clues }}</dd>

      <dt>Number of across clues:</dt>
      <dd>{{ total_across }}</dd>

      <dt>Number of down clues:</dt>
      <dd>{{ total_down }}</dd>

      <dt>Average clue:crossword ratio:</dt>
      <dd>{{ (total_clues / total_crosswords) | round(2) }}</dd>
    </dl>
</body>
</html>
