<!-- app/templates/view.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clue - {{ clue.solution }}</title>
</head>
<body>
    <h1>{{ clue.solution }}</h1>

    <p>{{ clue.clue_text }}</p>

    <p>Solution has appeared in {{ clues_and_crosswords|length }} crosswords:</p>

    <ul>
      {% for clue, crossword in clues_and_crosswords %}
        <li>
          <a href="{{ url_for('crossword', crossword_id = crossword.id|replace("/", "%2F")) }}">{{ crossword.web_title }}</a> — {{ crossword.date_published }}<br>
          {{ clue.clue_text }}
        </li>
      {% endfor %}
    </ul>
</body>
</html>
